<div class="details__container">
    <div class="details__item row ps-4">
        <p class="details__item-text col-2">Bucket name:</p>
        <p class="details__item-text col-2">{{ bucket.name }}</p>
    </div>
    <div class="details__item row ps-4">
        <p class="details__item-text col-2">Location:</p>
        <p class="details__item-text col-3">{{ bucket.location }}</p>
    </div>
    <div class="details__item row ps-4">
        <p class="details__item-text col-2">Sotrage size:</p>
        <p class="details__item-text col-3">{{ formatBytes( bucket.storageSize, 1) }}</p>
    </div>
</div>