<div class="details__container">
    <div class="details__item">
        <p class="details__item-text text-end">Bucket name:</p>
        <p class="details__item-text">{{ bucket.name }}</p>
    </div>
    <div class="details__item">
        <p class="details__item-text text-end text-end">Location:</p>
        <p class="details__item-text">{{ bucket.location }}</p>
    </div>
    <div class="details__item">
        <p class="details__item-text text-end">Sotrage size:</p>
        <p class="details__item-text">{{ formatBytes( bucket.storageSize, 1) }}</p>
    </div>
</div>