<div *ngIf="bucket" class="bucket container">
    <h2 class="mb-4">{{ bucket.name }}</h2>

    <app-tabs class="tabs__container">
        <app-tab [tabTitle]="'Files'">
            <div class="file__container container bg-white   rounded">
                <div class="d-flex justify-content-between pb-1">
                    <p>All Files ({{ fileCount }})</p>
                    <div class="file__container-btns">
                        <button (click)="openPopup(selectedFile)" class="bucket__btn">Delete Object</button>
                        <label class="bucket__btn" for="upload-file">Upload object</label>
                        <input (change)="uploadFile($event)" type="file" id="upload-file" />
                    </div>
                </div>
                <app-file-list 
                    *ngIf="bucket.files.length; else notify"
                    [files]="files"
                    [selectedFile]="selectedFile"
                    (onSelectFile)="selectFile($event)"
                ></app-file-list>
                <ng-template #notify>
                    <p class="no-files fst-italic mt-5 text-center">No files. Please add them with a simple click on the upload object.</p>
                </ng-template>
            </div>
        </app-tab>

        <app-tab tabTitle="Details" longTitle="Bucket details">
            <button (click)="openPopup(true)" class="bucket__btn--delete btn__absolute">Delete Bucket</button>
            <app-details [bucket]="bucket"></app-details>
        </app-tab>
    </app-tabs>

    <p *ngIf="warningMessage" class="warning-message rounded">{{ warningMessage }}</p>

    <app-popup *ngIf="isPopupOpen" [text]="popupText">
        <button (click)="deleteBtn()" class="bucket__btn">Delete</button>
        <button (click)="closePopup()" class="bucket__btn">Cancel</button>
    </app-popup>
</div>