.buckets-list {
    border: 3px solid black;
    .buckets-list__header {
        background-color: var(--secondary);
        border-bottom: 3px solid black;
    }
    .buckets-list__body {
        .buckets-list__body-item {
            transition: var(--transition);
        }
        .buckets-list__body-item:hover {
            background-color: var(--secondary);
            cursor: pointer;
        }
    }
}