/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/dist/css/bootstrap.css"

:root {
    --primary: #666666;
    --secondary: #cccccc;
    --bg: #eff2f4;
    --componentBg: #ffffff;
    --btn: #393e6f;
    --transition: all 0.15s ease-out;
}