/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/dist/css/bootstrap.css"

:root {
    --primary: #666666;
    --secondary: #cccccc;
    --bg: #eff2f4;

    --componentBg: #ffffff;
    --btn: #393e6f;
    --transition: all 0.15s ease-out;
    --error: #cf1f1d;
}

.container, .row {
    --bs-gutter-x: 0;
}

.bucket__btn,
.bucket__btn--delete,
.bucket__btn--blue {
    background-color: white;
    color: white;
    font-weight: 700;
    padding: 0 14px;
    box-shadow: black 2.5px 3px;
    transition: var(--transition);
    &:active {
        box-shadow: none;
    }
}
.bucket__btn { color:  black }
.bucket__btn--delete { background-color: var(--error) }
.bucket__btn--blue { background-color: var(--btn); }