.bucket-list__container {

    .bucket-list__btn {
        background-color: var(--btn);
        color: white;
        padding: 0 14px;
        box-shadow: black 2.5px 3px;
        transition: var(--transition);
        &:active {
            box-shadow: none;
        }
    }
    .create-bucket__container {

        .create-bucket__heading {
            font-size: 18px;
        }
        .create-bucket__label {
            font-size: 22px;
            font-weight: 600;
        }
        .create-bucket__input {
            padding: 0 6px 3px;
        }
    }
    .bucket-list {
        border: 3px solid black;
        .bucket-list__header {
            background-color: var(--secondary);
            border-bottom: 3px solid black;
        }
        .bucket-list__body {
    
        }
    }
}