.bucket-list__container {
    .create-bucket__container {
        font-weight: 600;
        .create-bucket__heading {
            font-size: 18px;
        }
        .create-bucket{
            .create-bucket__label {
                font-size: 22px;
            }
            .create-bucket__input {
                padding: 0 6px 3px;
                border: 2px solid black;
                min-height: 25px;
            }
        }

 
    }
    .bucket-list {
        border: 3px solid black;
        .bucket-list__header {
            background-color: var(--secondary);
            border-bottom: 3px solid black;

        }
        .bucket-list__body {
            
            .bucket-list__body-item {
                transition: var(--transition);
              
            }
            .bucket-list__body-item:hover {
                background-color: var(--secondary);
                cursor: pointer;
            }
    
        }
    }
}