<div class="container bucket-list__container">
    <h1>Bucket list</h1>

    <div *ngIf="isCreateBucketOpen" class="create-bucket__container  container py-4 px-4 mt-5 bg-white rounded">
        <h5 class="mb-3 create-bucket__heading">Create New Bucket</h5>
        <div class="row mb-4">
            <div class="col-4">
                <label class="create-bucket__label mb-2" for="name">Bucket Name*</label><br>
                <input class="create-bucket__input w-100" [(ngModel)]="bucketName" type="text" id="name" name="name" placeholder="Type name here">
            </div>
            <div class="col-3"></div>
            <div class="col-4">
                <label class="create-bucket__label mb-2" for="location">Bucket Name*</label><br>
                <!-- <input class="create-bucket__input w-100" type="text" id="location" name="location" > -->
                <select [(ngModel)]="bucketLocation" class="create-bucket__input w-100" aria-label="Default select example">
                    <option *ngFor="let location of locations" [ngValue]="location">{{location}}</option>
                  </select>
            </div>
        </div>
        <button (click)="createNewBucket()" class="bucket-list__btn">Create Bucket</button>
    </div>


    <!-- bucket list component -->
    <div class="container  bg-white py-4 px-4 mt-5 rounded">
        <div class="d-flex justify-content-between pb-4">
            <div class="">All buckets ({{ bucketsCount }})</div>
            <button (click)="openCreateBucket()" *ngIf="!isCreateBucketOpen" class="bucket-list__btn">Create New Bucket</button>
        </div>
        <div class="bucket-list">
            <div class="bucket-list__header ps-1">
                <div class="row">
                    <div class="col-8">
                        <h5 class="mb-0">Name</h5>
                    </div>
                    <div class="col-4">
                        <h5>Location</h5>
                    </div>
                </div>
            </div>
            <div class="bucket-list__body ps-1 mt-4 mb-2">
                <div 
                    class="bucket-list__body-item row"
                    *ngFor="let bucket of buckets"
                    (click)="openBucketItem(bucket.id)"
                >
                    <div class="col-8">
                        <h5>{{ bucket.name }}</h5>
                    </div>
                    <div class="col-4">
                        <h5>{{ bucket.location}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>